
  <!-- Page Content -->
  <main class="bg-gradient-info">
    <br><br><br><br>

    <section class="section section-lg pt-0">
      <div class="container">
        <div class="card bg-gradient-warning shadow-lg border-0 floating">
          <div class="p-5">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <h3 class="text-white">About</h3>
                <p class="lead text-white mt-3">
                  Now team members does not need to be present for discussion.
                  Here you come up with your ideas , form the team and start discussion about the project 
                  anytime anywhere.
              </p>
              </div>
              <div class="col-lg-6 ml-lg-auto">
                <img class="img-fluid rounded mb-4" src="assets/img/12.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-default">
      <div class="main-content">
        <!-- Header -->
        <div class="header bg-gradient-info py-6">

          <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
          </div>
        </div>
        <div class="container">
          <div class="row">

            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
              <div class="px-4">
                  <img alt="image" src="../assets/img/34.jpg" class="img-center img-fluid shadow shadow-lg--hover" style="width: 200px; height: 200px">
                <div class="pt-4 text-center">
                    <h5 class="title">
                      <span class="d-block mb-1 text-white">New Project</span>
                      <h4 class="text-muted">Come up with new and inovative ideas , plans.</h4>
                    </h5>
                </div>
              </div>
            </div>  

            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
              <div class="px-4">
                <img src="../assets/img/10.jpg" class="img-center img-fluid shadow shadow-lg--hover" style="width: 200px; height: 200px" alt="image">
                <div class="pt-4 text-center">
                  <h5 class="title">
                    <span class="d-block mb-1 text-white">Workspace</span>
                    <h4 class="text-muted">Create simple diagrams,layouts related to your project and have a live discussion with your project crews through chat.</h4>
                  </h5>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="px-4">
                  <img src="../assets/img/51.jpg" class="img-center img-fluid shadow shadow-lg--hover" style="width: 200px; height: 200px" alt="image">
                  <div class="pt-4 text-center">
                    <h5 class="title">
                      <span class="d-block mb-1 text-white">Search Members</span>
                      <h4 class="text-muted">Choose your own team members and work with them on any device across the platform.</h4>
                    </h5>
                  </div>
                </div>
            </div>

          </div>
        </div>
      </div>
    </section>
</main>